
<div class="container">
    <div class="row">
          <div class="col-md-12 d-flex justify-content-end filtro">
            
            <label class="form-control-label col-md-1" id="labelFiltro">Filtro:</label>
            <input class="form-control col-md-4" type="text" name="search" [(ngModel)]="filter" id="inputFiltro">
        </div>   
        <table class="table table-striped table-hover">   
               <thead class="thead-dark"> 
                   <tr>
                    
                     <th scope="col">Data</th>
                     <th scope="col">IP</th>
                     <th scope="col">Request</th>
                     <th scope="col">Status</th>
                     <th scope="col">User Agent</th>
                   </tr>
               </thead>
               <tbody>
                  <ng-container *ngFor="let p of log | filter:filter | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index">
                    <tr  scope="row">
                        <td>{{p.data}}</td>
                        <td>{{p.ip}}</td>
                        <td>{{p.request}}</td>
                        <td>{{p.status}}</td>
                        <td>{{p.userAgent}}</td>
                        <td><button  type="button" class="btn btn-info" [routerLink]= "['/lista-log', p.id]">Detalhe</button></td>
                        <td><button type="button" class="btn btn-info" (click)=excluirLog(p.id) >Excluir</button></td>
                    </tr>
                  </ng-container>
               </tbody>
               <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
           </table>
    </div>
 </div>
